flask~=1.1.2
wtforms~=2.3.3
werkzeug~=1.0.1
itsdangerous~=1.1.0
flask-login
bcrypt~=3.2.0
cffi~=1.14.5
flask-bcrypt~=0.7.1
pycparser~=2.20
six~=1.15.0
Flask-WTF
WTForms~=2.3.3
dnspython~=2.1.0
email-validator~=1.1.2
flask-mongoengine
idna
mongoengine
pymongo~=3.11.3
opencv-python~=4.5.1.48
numpy~=1.20.1
tensorflow~=2.3.0
pillow~=8.1.0
dlib
Flask-Mail
face-recognition
imutils